#readability{font-size:20px;font-family:"Lucida Sans Unicode","Lucida Grande","Noto Sans",FreeSans,Helvetica,Arial,sans-serif !important;text-align:left;word-wrap:break-word !important;line-height:1.8em;}
#readability p,#readability h1,#readability h2,#readability h3,#readability h4,#readability h5,#readability h6{padding-bottom:1em;}
#readability p{line-height:1.8em;}
#readability br{display:block;overflow:hidden;visibility:hidden;width:0;height:0;padding:0;margin:0;}
#readability h1{font-size:2em;font-weight:bold;padding-bottom:0.5em;margin-bottom:1em;border-bottom:1px solid #ccc;}
#readability h2{font-size:1.5em;font-weight:bold;}
#readability h3{font-size:1.2em;font-style:italic;}
#readability h4{font-size:1.1em;text-decoration:underline;}
#readability a{color:#3953d4;text-decoration:none;font-size:1em;font-family:inherit;}
#readability a:visited{color:#3953d4;}
#readability a:hover{text-decoration:none;color:#ca2017;}
#readability img,#readability figure,#readability audio,#readability video{margin:0 0 1em;display:block;max-width:95%;height:auto;}
#readability figcaption,#readability caption{display:block;font-style:italic;color:#999;font-size:0.9em;text-align:left;}
#readability figcaption{padding-bottom:1em;margin-top:-0.5em;}
#readability iframe{margin-bottom:1em;display:block;border:none;max-width:95%;}
#readability table{font-size:0.8em;text-align:left;border-collapse:collapse;border-spacing:0;}
#readability blockquote{margin:0px 0px 1em;padding:1em;border-left:4px solid #aaa;color:#666;font-family:"Lucida Sans Unicode","Lucida Grande","Noto Sans",FreeSans,Helvetica,Arial,sans-serif !important;background:#f6f6f6;white-space:pre-line;}
#readability blockquote p{padding-bottom:0;}
#readability code{background:#f6f6f6;border:1px solid #ccc;border-radius:3px;padding:3px 5px;margin:0 5px;display:inline-block;max-width:95%;line-height:1em;font-family:inherit;}
#readability pre{padding:0;margin:0 0 1em;word-wrap:break-word;white-space:pre-wrap;}
#readability pre code{background:#fff;display:block;font-size:0.8em;font-family:"Lucida Console",Monaco,Menlo,"Source Code Pro","Noto Mono",FreeMono,monospace !important;white-space:pre-wrap;word-wrap:break-word;border:none;margin:0;padding:0;max-width:none;}
#readability pre code:before{content:"Code";line-height:3em;border-bottom:1px solid #000;}
#readability pre code ol{margin:0;color:#999;list-style:none;padding:0 0 0 3em;}
#readability pre code ol li:nth-of-type(5n) {list-style:decimal;}
#readability pre code ol li:first-child {list-style:decimal;}
#readability pre code ol li:nth-of-type(2n) {background:#fff;}
#readability pre code ol li{padding:0 1em;background:#f7f7e5;border-left:1px solid #ccc;color:#999;}
#readability ol,#readability ul{margin:0 0 1em;padding:0 0 0 3em;color:#000;}
#readability li{padding-left:1em;white-space:pre-line;}
#readability li:last-child p:last-child{padding-bottom:0}
#readability abbr{border-bottom: 1px solid;font-variant:normal;cursor:help;}
#readability del{text-decoration:line-through;}
#readability strong,#readability b{font-weight:bold;}
#readability em,#readability i{font-style:italic;}
#readability ins{text-decoration:none;}
#readability u{text-decoration:underline;}
#readability sub,#readability sup{font-size:0.75em;line-height:0;position:relative;vertical-align:text-top\9;}
#readability :root sub,#readability :root sup{vertical-align:baseline;}
#readability sup{top:-0.5em;}
#readability sub{bottom:-0.25em;}
#readability small{font-size:0.7em;color:#888;}
#readability hr{border-width:0 0 1px;border-style:solid;border-color:#ccc;margin:2em 0 2em;height:0px;}

@media screen and (max-width:960px){
#readability{font-size:16px;}
}
